@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo
{
    width: 80px;
}

body
{
    font-family: 'raleway';
}

h1
{
    font-size: 24px;
    font-weight: bold;
}

h2
{
    font-size: 20px;
    font-weight: bold;
}

h3
{
    font-size: 16px;
    font-weight: bold;
}

p
{
    font-size: 14px;
}

strong
{
    font-size: 14px;
    font-weight: bold;
}

.list-nav
{
    list-style: none;
}

.list-footer
{
    list-style: none;
}

.search-wrap
{
    display: flex;
}

.search-icon
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color:#F2F2F2;
    color:rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

#search-bar
{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

.search-button
{
    width: 100px;
    height: 30px;
    line-height: 0px;
    text-align: center;
    border: none;
    background-color:#0065FC;
    color:#fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.marseilles-accomodations
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem 18rem 18rem 5rem;
    background-color: #F2F2F2;
    max-width: 60%;
    grid-gap: 3rem;
    padding: 3rem;
}

.accomodation-image
{
    max-height: 8rem;
    object-fit: cover;
    margin: none;
    padding: none;
    border-style: solid;
    border-width: 3px;
    border-color: #FFF;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: none;
}

.accomodation-description
{
    background-color: #FFF;
    margin: none;
    padding: 5px;
    text-align: left;
    border-style: solid;
    border-width: 3px;
    border-color: #FFF;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: none;
}

.starfull
{
    font-size: 12px;
    color: #0065FC;
}

.starempty
{
    font-size: 12px;
    color: #F2F2F2;
}

.ranking
{
    display: flex;
    flex-direction: row;
}

.accomodation-title
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.accomodation-article1
{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.accomodation-article2
{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.accomodation-article3
{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.accomodation-article4
{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.accomodation-article5
{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.accomodation-article6
{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.accomodation-showmore
{
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}